doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/styles.css")
        block Title_Web
    body
        div.container
            block Header
            
            main 
                block MainContent
            footer
                h3.S_id Medicine Registry
                h6.S_gr Web Technology module
    script(src="/static/scripts.js") 